/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:200,300,400,500,600,700,800);
body
{
	/* Font */
	font:normal 500 13px/16px Tahoma;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #f00;
}
IMG{float: left;margin-right:5px}
p{float:left;width:100%;display: inline ;}

ol,ul,dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right:0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding:0 40px;
}
.ft-esq{ float:left; cursor:default; text-decoration:none; padding:0 20px 20px 0; }
.ft-esq B{ clear:left; background:#82bf00 url(img/canto-dir-verde-acoes-sustentaveis.gif) no-repeat right 0; float:left; padding:0 15px 0 10px; font:normal normal 12px/15px tahoma; color:#FFF; }
.ft-esq IMG{ border:3px solid #c5cdde; margin:0; }
.ft-dir{ float:right; cursor:default; text-decoration:none; padding:0 0 20px 20px; }
.ft-dir B{ clear:right; background:#82bf00 url(img/canto-esq-verde-acoes-sustentaveis.gif) no-repeat 0 0; float:right; padding:0 10px 0 15px; font:normal normal 12px/15px tahoma; color:#FFF; }
.ft-dir IMG{ float:right; border:3px solid #c5cdde; margin:0; }
