.ethanol-list .city {
    margin-bottom: 20px;
    font-size: 11px;
    -webkit-transition: 1s; /* Safari */
    transition: .5s;
    padding: 0;
}

.ethanol-list .city h4{
    color: #274d89;
    font-weight: bold;
}

.ethanol-list .city h4[data-toggle="popover"]{
    cursor: pointer;
}

.ethanol-list .city h4 i{
    font-size: 12px;
    vertical-align: top;
    opacity: .4;
    transition: all ease .3s;
}

.ethanol-list .city h4:hover i{
    opacity: 1;
}

.ethanol-list .city:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.ethanol-list .item-title,
.ethanol-list .item-data {
    font-size: 0;
}

.ethanol-list .item-data:last-child{
    font-weight: bold;
}

.ethanol-list .item-title > span,
.ethanol-list .item-data > span {
    display: inline-block;
    width: 40px;
    font-size: 11px;
    border-right: 1px solid #bdbdbd;
}

.ethanol-list .item-title > span{
    background: #FFF;
    padding: 2px 0;
    border-top: 1px solid #bdbdbd;
}

.ethanol-list .item-data span{
    white-space: nowrap;
    background: #FFF;
}

.ethanol-list .item-data:nth-child(odd) span{
    background: #e6e6e6;
}

.ethanol-list .item-data:hover span{
    background: #d3e7ff;
}

.ethanol-list .item-data:last-child span{
    border-bottom: 1px solid #bdbdbd;
}

.ethanol-list .item-title > span:first-child,
.ethanol-list .item-data > span:first-child {
    border-left: 1px solid #bdbdbd;
}

/*
    it will find number with slash, like 1.00/1.02,
    I did becouse I what avoid jQuery functions in mobile
*/
.ethanol-list .item-title > span[data-text*='/'],
.ethanol-list .item-data > span[data-text*='/'] {
    width: 74px;
}

.ethanol-list .item span.diff[data-text*='/'] {
    width: 58px;
}
.ethanol-list .item span.diff_percent[data-text*='/'] {
    width: 70px;
}
.ethanol-list .item-data > span {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    pointer-events: none;
    cursor: default;
}

.ethanol-list .item-title > span.date,
.ethanol-list .item-data > span.date{
    width: 46px;
}