@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

html {
    background: #c7e3f6 url("../img/bg_repeat.png") repeat-y center center;
}

body {
    background: url("../img/bg_body.png") no-repeat center top;
}

.container-fluid.wrapper {
    position: relative;
    min-height: 100%;
    padding: 0;

}

.pad0 {
    padding: 0;
}

span[data-toggle="popover"] {
    cursor: pointer;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.banner img {
    width: 100%;
}

header .navbar-default {
    box-shadow: none;
    border: none;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #d0cecf 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #d0cecf 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0cecf));
    background-image: linear-gradient(to bottom, #ffffff 0%, #d0cecf 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#d0cecf', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-color: #e5e5e5;
}

header .navbar-default .navbar-toggle {
    border-color: #d0cecf;
    background: #FFF;
}

header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:hover {
    background: #f3f3f3;
}

header .navbar-default .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

header .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #005600;
    text-shadow: none;
}

header .navbar-default .navbar-nav > li > a.active,
header .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-image: -webkit-linear-gradient(top, #95b704 0%, #56921c 100%);
    background-image: -o-linear-gradient(top, #95b704 0%, #56921c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#95b704), to(#56921c));
    background-image: linear-gradient(to bottom, #95b704 0%, #56921c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95b704', endColorstr='#56921c', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-color: #70a212;
}

section .container {
    padding-bottom: 10px;
    color: #464646;
}

.page-title {
    color: #484848;
    border-bottom: 3px solid #464646;
    font-weight: 100;
    line-height: 1.4;
    font-size: 22px;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.container .container-base, .form-base {
    background: rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 15px;
}

form {
}

.form-base .form-action, .container .container-base .form-action {
    border-top: 3px solid #464646;
    padding-top: 15px;
    margin-top: 5px;
}

form ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

form label {
    font-size: 14px;
    margin: 5px 0 !important;
}

form label.checkbox.h4 {
    margin:25px 0 15px 0 !important;
    font-size: 16px;
}



form label.checkbox input {
    position: relative !important;
    margin-left: 0 !important;
    margin-right: 15px;
}

form label.checkbox input:after {
    background: #FFF;
    content: "\f00c";
    width: 20px;
    height: 20px;
    position: relative;
    top: -9px;
    display: block;
    z-index: 1;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 18px;
}

form label.checkbox.h4 input:after{
    top: -13px;
}

form label.checkbox input[checked]:after,
form label.checkbox input:checked:after {
    top: -3px;
    font-size: 25px;
    color: #717171;
}

form label.checkbox.h4 input:checked:after {
    top: -5px;
}

.footer-fix {
    height: 150px;
}

.footer {
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.footer .line-one {
    background: #6ebb43;
    height: 40px;
}

.footer .line-two {
    background: #223e80;
    height: auto;
}

.footer .line-two{
    padding-left: 0;
}

.footer .line-two .container{
    padding: 0 0 0 130px;
}

.footer .line-two .phone{
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    padding-left: 10px;
}

.footer .line-two .phone h4,
.footer .line-two .phone h5{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 16px;
}

.footer .line-two .phone h5{
    font-size: 15px;
    color: #afdf62;
}

.footer .line-three {
    background: #38589c;
    height: 15px;
}

.footer .container {
    position: relative;
}

.footer .container img {
    position: absolute;
    top: -115px;
    left: 0;
}

.btn-success {
    background-image: -webkit-linear-gradient(top, #7cb605 0%, #58941b 100%);
    background-image: -o-linear-gradient(top, #7cb605 0%, #58931b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7cb605), to(#58941b));
    background-image: linear-gradient(to bottom, #7cb605 0%, #58941b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb605', endColorstr='#58941b', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #688816;
}

.btn-success:hover, .btn-success:focus {
    background-color: #58941b;
    background-position: 0 -40px;
}