@media (min-width: 768px) {
    html {
        background: #c7e3f6 url("../img/bg_repeat.png") repeat-y center center;
    }

    body {
        background: url("../img/bg_body.png") no-repeat center top;
    }

    .ethanol-list .item-title > span[data-text*='/'],
    .ethanol-list .item-data > span[data-text*='/'] {
        width: 80px !important;
    }

    .ethanol-list .item-title > span, .ethanol-list .item-data > span {
        width: 48px !important;
        font-size: 13px !important;
    }

    .footer .line-two .container {
        padding-right: 140px !important;
    }

    .footer .line-two .phone {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .footer .line-two .phone h4{
        font-size: 18px;
    }

    .footer .line-two .phone h5{
        font-size: 17px;
    }
}