BODY {
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
	FONT-SIZE: 11px;
	COLOR: #000;
	MARGIN: 0px 10px 0px 10px;
	BACKGROUND-COLOR: #FFF;
}

tblInfoTopo{
	FONT-FAMILY: Trebuchet MS, Tahoma, Verdana, Arial, Times New Roman;
	FONT-SIZE: small;
}

TABLE, TR, TD {
	FONT-FAMILY: Verdana, Tahoma, Arial;
	FONT-SIZE: 8.5pt;
	COLOR: #000000;
}
a:link, a:visited, a:active {
	TEXT-DECORATION: underline;
	COLOR: #000000;
}
a:hover {
	COLOR: #336666;
}
.row1 {
	BACKGROUND-COLOR: #F4F7EE;
}
.row1mini {
	BACKGROUND-COLOR: #F4F7EE;
	FONT-SIZE: x-small;
	FONT-FAMILY: Courier New, Arial, Times New Roman;
}
.row2 {
	BACKGROUND-COLOR: #F5FDF9;
}
.nav {
	FONT-WEIGHT: bold;
	COLOR: #000000;
	FONT-SIZE: 8.5pt;
}
.maintitle a:link, .maintitle a:visited, .maintitle a:active {
	TEXT-DECORATION: none;
	COLOR: #FFFFFF;
}
.maintitle a:hover {
	TEXT-DECORATION: underline;
}
.maintitle {
	COLOR: #FFFFFF;
	FONT-SIZE: 9.5pt;
	HEIGHT: 26px;
	BACKGROUND-IMAGE: url(../img/gif_mnu_tile_back.gif);
}
/*
.maintitle_off
{
	color: #FFFFFF;
	font-size: 9.5pt;
	height: 26px;
	background-image: url(../img/gif_mnu_tile_back_off.gif);
}
*/
.mainbg {
	BACKGROUND-COLOR: #FFFFFF;
}
.titlemedium {
	FONT-WEIGHT: bold;
	COLOR: #506C3A;
	HEIGHT: 30px;
	BACKGROUND-COLOR: #BDE39F;
	BACKGROUND-IMAGE: url(../img/gif_mnu_tile_sub.gif);
}

.titlemediumoff {
	FONT-WEIGHT: bold;
	COLOR: #646464;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #D8D8D8;
	BACKGROUND-IMAGE: url(../img/gif_mnu_tile_off.gif);
}

.titlemedium a:link, .titlefoot a:link, .titlemedium a:visited, .titlefoot a:visited, .titlemedium a:active, .titlefoot a:active {
	TEXT-DECORATION: underline;
	COLOR: #4A6C3A;
}
.titlemedium a:hover, .subtitle a:hover, .titlefoot a:hover {
	TEXT-DECORATION: underline;
	COLOR: #000000;
}

.subsessaoAdmin {
	BACKGROUND-COLOR: #F5FDF9;
	BACKGROUND-POSITION-X: right;
	BACKGROUND-IMAGE: url(../img/gif_fun_admin.gif);
	BACKGROUND-REPEAT: no-repeat;
}
.forum1 {
	BACKGROUND-COLOR: #E9EFDF;
}
.forum2 {
	BACKGROUND-COLOR: #E7F2E4;
}
.linkthru {
	COLOR: #000000;
	FONT-SIZE: 8.5pt;
}
.linkthru a:link, .linkthru a:active {
	TEXT-DECORATION: underline;
	COLOR: #000000;
}
.linkthru a:visited {
	TEXT-DECORATION: underline;
	COLOR: #000000;
}
.linkthru a:hover {
	TEXT-DECORATION: underline;
	COLOR: #4D8446;
}
.desc {
	FONT-SIZE: 8.0pt;
	COLOR: #465143;
}
.category {
	FONT-WEIGHT: bold;
	LINE-HEIGHT: 150%;
	COLOR: #3F8F41;
	BACKGROUND-COLOR: #D4DFC2;
}
.category a:link, #category a:visited, #category a:active {
	TEXT-DECORATION: none;
	COLOR: #4CB676;
}
.copyright {
	FONT-FAMILY: Verdana, Tahoma, Arial;
	FONT-SIZE: 7.5pt;
	LINE-HEIGHT: 12px;
}
.solidborder {
	BORDER: 1px solid #999999;
}
.mainfoot {
	BACKGROUND-COLOR: #C5E2B8;
}
.forminput {
	FONT-SIZE: 9pt;
	FONT-FAMILY: verdana, helvetica, sans-serif;
	VERTICAL-ALIGN: middle;
}
.pagetitle {
	COLOR: #4CB674;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	LETTER-SPACING: -1px;
	LINE-HEIGHT: 120%;
}
.highlight {
	COLOR: #FF0000;
}
.highlight a:link, .highlight a:visited, .highlight a:active {
	TEXT-DECORATION: underline;
	COLOR: #FF0000;
}
.highlight a:hover {
	TEXT-DECORATION: underline;
}
.titlefoot {
	FONT-WEIGHT: bold;
	COLOR: #3A6C43;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #CDEDBC;
}
