/*Template*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600italic,600,700italic);

html, body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

html {
    background: #c7e3f6 url("../img/bg-site.gif") repeat-x 0 0;
}

body {
    background: url("../img/bg-topo.gif") no-repeat center -40px;
}

.container-fluid.wrapper {
    position: relative;
    min-height: 100%;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*-----*/

.global-inf > div {
    margin: 0;
}

.login {
    border-bottom: 1px #f0f0f0 solid;
}

.login-wrap {
    float: none;
    margin: 0 auto;
}

.user-logout {
    float: right;
    position: relative;
}

.user-logout-container div {
    float: right;
    margin: 15px 0;
}

.user-logout-container a {
    float: right;
    margin: 7px 0 0 15px;
}

.header.first-header {
    background: none;
    padding: 5px 0;
}

.first-header .navbar-brand {
    height: auto;
    padding: 5px 0;
}

.first-header .logout {
    background: #FFF;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-sca {
    background: #70b94a;
    border: none;
    position: relative;
}

.navbar-sca .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-sca .user-logout {
    color: #FFF;
    position: absolute;
    top: 0;
}

.navbar-sca .navbar-nav > .active > a,
.navbar-sca .navbar-nav > .active > a:hover,
.navbar-sca .navbar-nav > .active > a:focus,
.navbar-sca .navbar-nav > .open > a,
.navbar-sca .navbar-nav > .active > a,
.navbar-sca .navbar-nav > li > a:hover,
.navbar-sca .navbar-nav > li > a:focus,
.navbar-sca .navbar-nav > .open > a,
.navbar-sca .navbar-nav > .open > a:hover,
.navbar-sca .navbar-nav > .open > a:focus {
    background: #FFF;
    color: #2f7909;
}

.navbar-sca .navbar-nav > li > .dropdown-menu {
    padding: 0;
    border-color: rgba(112, 185, 74, 0.45);
}

.navbar-sca .dropdown-menu > li > a {
    color: #2f7909;
    background: #FFF;
}

.navbar-sca .dropdown-menu > li > a:hover {
    color: #FFF;
    background: #70b94a;
}

.navbar-sca .navbar-toggle {
    border-color: #FFF;
    background: #FFF;
}

.navbar-sca .navbar-toggle .icon-bar {
    color: #70b94a;
}

.page-title {
    color: #484848;
    border-bottom: 3px solid #464646;
    font-weight: 100;
    line-height: 1.4;
}

.container .container-base,
.form-base {
    background: rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 15px;
}

.container .container-base hr {
    border-color: rgba(0, 0, 0, 0.1);
}

.container .container-base legend {
    border-color: rgba(0, 0, 0, 0.1);
}

.form-base .form-action,
.container .container-base .form-action {
    border-top: 3px solid #464646;
    padding-top: 15px;
    margin-top: 5px;
}

.form-base .form-action button[type='submit'],
.container .container-base .form-action button[type='submit'] {
    padding-left: 20px;
    padding-right: 20px;
}

textarea.form-control {
    resize: vertical;
}

.container .container-base .table {
    background: rgba(255, 255, 255, 0.26);
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-color: rgba(0, 0, 0, 0.1);
}

.footer-fix {
    height: 150px;
}

.footer {
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.footer .line-one {
    background: #6ebb43;
    height: 40px;
}

.footer .line-two {
    background: #223e80;
    height: 65px;
}

.footer .line-three {
    background: #38589c;
    height: 15px;
}

.footer .container {
    position: relative;
}

.footer .container img {
    position: absolute;
    top: -115px;
    left: 0;
}

.header-wrap {
    float: none;
    margin: 0 auto;
}

.dataTable .img-thumbnail {
    max-width: 100px;
}

.dataTables_wrapper, .dataTables_info, .dataTables_paginate {
    margin-top: 20px;
}

.dataTable .action {
    width: 100px;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 20px !important;
}

.pagination > li.first > a,
.pagination > li.last > a {
    text-indent: -9px;
    padding-left: 30px;
}

@media (min-width: 0px) {
    .user-logout{
        margin-right: -30px;
    }

    .first-header .logout {
        height: 30px;
        font-size: 12px;
        margin: 10px 0 0 10px;
        padding: 6px 25px;
    }

    .navbar-sca {
        margin-top: 15px;
    }

    .navbar-sca .user-logout {
        left: 15px;
    }

}

@media (min-width: 768px) {
    .user-logout{
        margin-right: -5px;
    }

    .navbar-sca {
        margin-top: 30px;
    }

    .navbar-sca .user-logout {
        left: auto;
        right: 15px;
    }
}

@media (min-width: 992px) {
    .user-logout {
        margin-top: 15px;
    }

    .first-header .logout {
        height: 42px;
        padding: 13px 30px;
        margin-top:3px;
    }
}

.btn-success {
    background-image: -webkit-linear-gradient(top, #7cb605 0%, #58941b 100%);
    background-image: -o-linear-gradient(top, #7cb605 0%, #58931b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7cb605), to(#58941b));
    background-image: linear-gradient(to bottom, #7cb605 0%, #58941b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb605', endColorstr='#58941b', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #688816;
}

.btn-success:hover, .btn-success:focus {
    background-color: #58941b;
    background-position: 0 -40px;
}