
.jScrollPaneContainer {	position: relative; overflow: hidden; z-index: 1; }
.jScrollPaneTrack { position: absolute; cursor: pointer; }
.jScrollPaneDrag { position: absolute;  cursor: pointer; overflow: hidden; }
.jScrollArrowUp { display: block; position: absolute; z-index: 1;  text-indent: -2000px; overflow: hidden; }
.jScrollArrowDown { display: block; position: absolute; z-index: 1;	 text-indent: -2000px; overflow: hidden;  }
.jScrollActiveArrowButton, .jScrollActiveArrowButton:hover { background-position: 0 -30px; }