#sca .rodape DIV ADDRESS A, #sca .rodape DIV ADDRESS A:HOVER{ width:180px;}
#sca .container .conteudo .esquerda .txt-box DIV P .bt-saiba-mais, #sca .container .conteudo .servicos .esquerda .txt-box DIV P .bt-saiba-mais{ bottom:1px; background:url(img/st-verde-home.png) no-repeat right 2px; padding:0 8px 0 0; text-decoration:none; }
#sca .container .conteudo .etanol .esquerda .txt-box DIV P .bt-saiba-mais{ bottom:-8px; background:url(img/st-verde-home.png) no-repeat right 2px; padding:0 8px 0 0; text-decoration:none; }